/*
    Credits: GabeVilela
    Version: 1.0.2
*/
#browser.tabs-top.theme-light .tab .tab-header::before{
    --modTablineUnfocusColor: hsla(0,0%,0%,0.5);
}
#browser.tabs-top.theme-dark .tab .tab-header::before{
    --modTablineUnfocusColor: hsla(0,0%,60%,0.5);
}
#browser.tabs-top .tab-position .tab .tab-header::before {
    content                : " ";
    width                  : 0%;
    background-color       : var(--modTablineUnfocusColor);
    height                 : 2px;
    position               : fixed;
    z-index                : 0;
    left                   : 50%;
    top                    : 0px;
    border-top-left-radius : var(--radiusHalf);
    border-top-right-radius: var(--radiusHalf);
    --modTablineLeftFull   : 0%;
    --modTablineWidthFull  : calc(100% - 1px);
}

#browser.tabs-top .tab-position:not(.is-substack) .tab:hover .tab-header::before {
    width           : var(--modTablineWidthFull);
    transition      : 0.15s cubic-bezier(0, 1, 0.58, 1) !important;
    transition-delay: 0.05s;
    left            : var(--modTablineLeftFull);
}

#browser.tabs-top .tab-position:not(.is-substack) .tab.unread:hover .tab-header::before {
    --modTablineClipTop   : calc(100% - 7px);
    --modTablineClipBottom: calc(100% - 6px);
    clip-path             : polygon(0 0, var(--modTablineClipTop) 0, var(--modTablineClipBottom) 100%, 0% 100%);
}

#browser.tabs-top .tab-position .tab.active .tab-header::before {
    content         : " ";
    width           : var(--modTablineWidthFull);
    background-color: var(--colorHighlightBg);
    left            : var(--modTablineLeftFull);
}

#browser.tabs-top #tabs-subcontainer .tab .tab-header::before {
    top                  : 2px !important;
    --modTablineLeftFull : 1px;
    --modTablineWidthFull: calc(100% - 2px);
}

#browser.tabs-top .tab-position:not(.is-substack) .tab.tab-group .tab-header::before {
    top: 1px;
}

#browser.tabs-top.tabs-at-edge .tab-position:not(.is-substack) .tab.tab-group .tab-header::before {
    top                    : 4px;
    border-top-left-radius : 0px;
    border-top-right-radius: 0px;
}